@media(max-width:1000px){
  .header-list{
    display:none;
  }
  .menu-icon-wrapper{
    display:block;
  }
  .logo{
    display:block;
    height:32px;
    width:128px;
  }

  .header-menu{
    display:none;
  }

}

@media(max-width:640px){
  .photo img{
    width:360px;
    height:240px;
  }
}
